<div class="grid justify-content-center mt-6">
  <p-card class="col lg:col-4  md:col-6 col-11">
    <div class="flex justify-content-between">
      <h2>{{accionForm}} task</h2>
      <a class="mt-4 cursor-pointer" [routerLink]="'/tasks'"><i class="pi pi-arrow-left" style="font-size: 1.2rem">
          Back</i> </a>
    </div>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="field mt-3">
        <span class="p-float-label">
          <input type="text" id="title" class="w-full" formControlName="title" pInputText>
          <label for="title">Title</label>
        </span>
      </div>
      <div class="field mt-5">
        <span class="p-float-label">
          <input type="text" id="description" class="w-full" formControlName="description" pInputText
            autocomplete="off">
          <label for="description">Description</label>
        </span>
      </div>

      <div class="flex justify-content-between">
        <button pButton type="submit" [disabled]="!taskForm.valid">{{ accionForm }}</button>
      </div>
    </form>
  </p-card>
</div>