<div class="container">
    <h2>Tasks</h2>
    <button pButton type="button" label="New task" class="p-button-success" icon="pi pi-plus-circle" (click)="createTask()"></button>
    
    <div style="display: flex;">
        <app-tasks-list [title]="'TODO'" [tasks]="getTasks('TODO')"></app-tasks-list>
        <app-tasks-list [title]="'DOING'" [tasks]="getTasks('DOING')"></app-tasks-list>
        <app-tasks-list [title]="'DONE'" [tasks]="getTasks('DONE')"></app-tasks-list>
    </div>

    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <p-toast></p-toast>
</div>