.container {
    width: 250px;
}

.div-content {
    padding: 10px;

    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-radius: 5px;
}

.div-content > span {
    color: rgb(129, 129, 129);
    font-size: 0.8rem;
}