.container {
    width: 250px;
}

.div-content {
    padding-left: 10px;
    padding-right: 10px;

    margin: 0px;


    border-left: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
    border-radius: 5px;
}