<div class="container" pDraggable="task" (onDragStart)="dragStart($event)" (onDragEnd)="dragEnd($event)">
    <p-fieldset legend="{{task.title}}" [toggleable]="true" [collapsed]="task.collapsed || false"
        (collapsedChange)="collapsed($event)">
        <span>{{task.createAt | date: 'short'}}</span>
        <p>{{task.description}}</p>

        <div class="container-fluid">
            <button pButton type="button" label="" icon="pi pi-user-edit" (click)="editTask()"></button>
            <button pButton type="button" label="" class="p-button-danger" icon="pi pi-trash"
                (click)="deleteTask()"></button>
        </div>
    </p-fieldset>
</div>