span {
    font-size: small;
    font-style: italic;
}

p {
    font-size: large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;
}
